.ExpenseItems {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

table {
  border: 2px solid black;
}

tr,
th,
td {
  text-align: center;
  padding: 8px 25px;
}
